<mat-toolbar class="">
  <div class="container-fluid">
    <a href="http://localhost:4200">
      <img class="img-fluid img1" src="{{ logoUcsal }}" alt="Logo UCSAL" />
    </a>
  </div>

  <h1 class="h1-header mx-auto text-center">Sistema de Prontuário Médico</h1>
</mat-toolbar>

<app-login *ngIf="!isAuthenticated()"></app-login>

<p class="mb-5"></p>

<app-navbar *ngIf="isAuthenticated() && isMedico()"></app-navbar>

<app-navbar-adm *ngIf="isAuthenticated() && isAdm()"></app-navbar-adm>

<router-outlet></router-outlet>
