
<nav class="navbar navbar-expand-lg navbar-light navbar-home">
    <div class="container-fluid">
        <div class="order-lg-2">
           
        </div>
        <div class=" navbar-collapse justify-content-center" >
            <ul class="navbar-nav ml-auto"> <!-- Use a classe "ml-auto" para alinhar à direita -->
                <li class="nav-item">
                    <a class="nav-link nav-link-custom" aria-current="page" href="#">Pagina Inicial</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-custom" href="#">Paciente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-link-custom" href="#">Consulta</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link nav-link-custom" href="#">Agenda</a>
                </li>
            </ul>
        </div>
    </div>
</nav>