<nav class="navbar navbar-expand-lg navbar-light navbar-home">
  <div class="container-fluid">
    <div class="order-lg-2"></div>
    <div class="navbar-collapse justify-content-center">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            class="nav-link nav-link-custom"
            aria-current="page"
            routerLink="/home"
          >
            <button
              type="button"
              class="btn btn btn-outline-light ms-2 border-0"
              (click)="toggleCollapse('paginaInicial')"
              [attr.aria-expanded]="isActive('paginaInicial')"
              aria-controls="collapseExample1"
            >
              Página Inicial
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom" routerLink="/paciente">
            <button
              type="button"
              class="btn btn btn-outline-light ms-2 border-0"
              (click)="toggleCollapse('paciente')"
              [attr.aria-expanded]="isActive('paciente')"
              aria-controls="collapseExample2"
            >
              Paciente
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom" routerLink="/consulta">
            <button
              type="button"
              class="btn btn btn-outline-light ms-2 border-0"
              (click)="toggleCollapse('consulta')"
              [attr.aria-expanded]="isActive('consulta')"
              aria-controls="collapseExample3"
            >
              Consulta
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom" routerLink="/agenda">
            <button
              type="button"
              class="btn btn btn-outline-light ms-2 border-0"
              (click)="toggleCollapse('agenda')"
              [attr.aria-expanded]="isActive('agenda')"
              aria-controls="collapseExample4"
            >
              Agenda
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom" routerLink="/agenda">
            <button
              type="button"
              class="btn btn btn-outline-danger ms-2 border-0"
              *ngIf="isAuthenticated()"
              (click)="logout()"
            >
              Logout
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
