<div>

</div>

<div class="container ">
    <div class="row">
        <div class="col-md-12">
            <!-- Informações do primeiro paciente -->

            

                <table class="table  table-borderless mt-5">

                    <tbody>
                        <tr>
                            <img src="../../assets/images/user.png" alt="">
                            <td>{{ paciente.nome }}</td>
                            <td>{{ paciente.idade }} Anos</td>
                            <td>Ficha</td>
                            <img src="../../assets/images/edit.png" alt="">
                            <td></td>
                            <img src="../../assets/images/delete.png" alt="">
oisdghfoaeirguf34r5ouigqerigphr4ip5hr49´gr5h9
                        </tr>

                    </tbody>
                </table>
                <p class="line text-center">
                    <!-- Conteúdo da tag P -->
                </p>


                
        </div>

    </div>
</div>