.btn{
    background-color: #4A6B83;
    border: none;
    color: aliceblue;
}
.btn:hover{
    color: #4A6B83;
    background-color: rgb(203, 203, 203);
}
.nav-link.active {
    background-color: #4A6B83;
    color: #fff;

}
.nav-link{
    color: black ;
}

