<nav class="navbar navbar-expand-lg navbar-light navbar-home">
  <div class="container-fluid">
    <div class="order-lg-2"></div>
    <div class="navbar-collapse justify-content-center">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a
            class="nav-link nav-link-custom"
            aria-current="page"
            routerLink="/home"
          >
            <button
              type="button"
              class="btn btn btn-outline-light ms-2 border-0"
              (click)="toggleCollapse('paginaInicial')"
              [attr.aria-expanded]="isActive('paginaInicial')"
              aria-controls="collapseExample1"
            >
              Página Inicial
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom" routerLink="/medico">
            <button
              type="button"
              class="btn btn btn-outline-light ms-2 border-0"
              (click)="toggleCollapse('Medicos')"
              [attr.aria-expanded]="isActive('Medicos')"
              aria-controls="collapseExample2"
            >
              Medicos
            </button>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-link-custom" routerLink="/adm">
            <button
              type="button"
              class="btn btn btn-outline-light ms-2 border-0"
              (click)="toggleCollapse('Adms')"
              [attr.aria-expanded]="isActive('Adms')"
              aria-controls="collapseExample3"
            >
              Adms
            </button>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-link-custom">
            <button
              type="button"
              class="btn btn btn-outline-danger ms-2 border-0"
              *ngIf="isAuthenticated()"
              (click)="logout()"
            >
              Logout
            </button>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
